<section class="card">
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eius quae ea illo, fugit ipsam sequi, eum, praesentium explicabo dolor reprehenderit facilis ad? Voluptas aliquid, alias atque dicta ad voluptatem.</p>
    </div>
</section>