<div class="p-5 bg-light rounded-3 mt-4">
  <h1 class="display-4">
    Notes app, Nodejs and MongoDB
  </h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum
    temporibus beatae doloremque recusandae eveniet repellendus rerum eos ipsam
    repudiandae optio. Accusamus expedita perferendis sit distinctio ratione
    rerum. Vitae, voluptas natus.</p>
  <hr class="my-4" />
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos debitis
    facere tempo</p>
    <a href="https://www.google.com" class="btn btn-primary">Google</a>
</div>